# Dependencies
frontend/node_modules
backend/node_modules

# Next.js
frontend/.next/
frontend/out/

# Build
backend/dist/

# Env files
frontend/.env.local
backend/.env

# Misc
.vercel
*.tsbuildinfo
frontend/next-env.d.ts